<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Ranjith">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="I am Ranjith, passionate about web technologies. I develop using HTML, CSS, and JavaScript.">
<meta name="icon" content="">
<meta name="theme-color" content="#ef3340">
<link rel="icon" href="" type="image/gif" sizes="16x16">
<script src="{{site.baseurl}}assets/scripts/loader.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}assets/css/style.css">